@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Michroma", system-ui, sans-serif;
  }
}

body {
  margin: 0;
  font-family: "Michroma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
